.inicio2{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.inicio2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/ai.png') no-repeat center center;
    background-size: cover;
    filter: blur(8px) opacity(0.6);
    z-index: -1; /* Coloca la imagen detrás del contenido */
}
.map-container {
    flex: 1; /* Permite que el mapa ocupe el espacio restante */
    max-width: 50%; /* Define el ancho máximo del mapa */
}

.map-container iframe {
    width: 100%;
    height: 300px; /* Ajusta la altura según necesidad */
    border: none;
}
