<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESFAM A.W</title>

    <link rel="stylesheet" href="../css/a.css" />
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="../img/logo.png"/>

</head>
<body>

    <header class="header">
        <a href="#" class="logo" >        
            <img src="../img/logo.png" alt="CESFAM A.Williams" style="height: 90px; vertical-align: middle;">
        </a>

        <nav class="navbar">
            <a href="#inicio" class="active">Inicio</a>
            <a href="#ubicacion">Nosotros</a>
            <a href="#">Informacion</a>
            <a href="#">Contacto</a>
        </nav>
    </header>

    <section class="home">
        <section id="inicio" class="inicio">
            <div class="inicio-content">
                <h1>CESFAM Armando Williams</h1>
                <h3>Centro médico de Cauquenes</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut eos sunt doloremque maxime sit expedita, 
                    provident magnam corrupti, 
                    deleniti fuga recusandae soluta voluptates facere 
                    excepturi illo autem.
                </p>
                <div class="btn-box">
                    <a href="#">Ubicacion</a>
                    <a href="#">Contacto</a>
                </div>
            </div>
    
            <div class="inicio-sci">
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            </div>
        </section>
    </section>

    <section class="home">
        <section class="inicio2" id="ubicacion">
            <div class="inicio-content2">
                <h1>Ubicación del CESFAM Armando Williams</h1>
                <h3>Centro médico de Cauquenes</h3>
                <p>
                    Aquí puedes ver nuestra ubicación exacta en Google Maps:
                </p>
            </div>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3228.544700913867!2d-72.31584542429886!3d-35.98255527249159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9668a013d75bb88d%3A0x83b10698453f9398!2sCESFAM%20Armando%20Williams!5e0!3m2!1sen!2sus!4v1731108609371!5m2!1sen!2sus"></iframe>
            </div>

            <div class="imagenes">
                <section class="section-img">
                    <img src="../img/home.jpg" alt="imagen">
                    <img src="../img/sd20.webp" alt="imagen">
                    <img src="../img/ddd2.webp" alt="imagen">
                    <img src="../img/ddd6.webp" alt="imagen">
                    <img src="../img/csm1.webp" alt="imagen">
                    <img src="../img/csm4.jpg" alt="imagen">
                    <img src="../img/anf1.webp" alt="imagen">
                    <img src="../img/anf8.jpg" alt="imagen">
                </section>
            </div>
            
            
        </section>
    </section>
    
    </body>
    </html>
    
