<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESFAM A.W</title>

    <link rel="stylesheet" href="../css/b.css" />
   
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="../img/logo.png"/>
</head>
<body>

    <header class="header">
        <a href="#" class="logo" >        
            <img src="../img/logo.png" alt="CESFAM A.Williams" style="height: 90px; vertical-align: middle;">
        </a>

        <nav class="navbar">
            <a href="#inicio" class="active">Inicio</a>
            <a href="#ubicacion">Nosotros</a>
            <a href="#info">Informacion</a>
            <a href="#contactos">Contacto</a>
        </nav>
    </header>
    <!-- inicio -->
    <section class="home">
        <section id="inicio" class="inicio">
            <div class="inicio-content">
                <h1>CESFAM Armando Williams</h1>
                <h3>Centro médico de Cauquenes</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut eos sunt doloremque maxime sit expedita, 
                    provident magnam corrupti, 
                    deleniti fuga recusandae soluta voluptates facere 
                    excepturi illo autem.
                </p>
                <div class="btn-box">
                    <a href="#ubicacion">Ubicacion</a>
                    <a href="#info">Contacto</a>
                </div>
            </div>
    
            <div class="inicio-sci">

                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>

            </div>
        </section>
    </section>


    <!-- nosotros uvicacion mision y vicion -->
    <section class="home">
        <section class="inicio2" id="ubicacion">
            <div class="inicio-content2">
                <h1>Ubicación del CESFAM Armando Williams</h1>
                <h3>Centro médico de Cauquenes</h3>
                <p>
                    Aquí puedes ver nuestra ubicación exacta en Google Maps:
                </p>
            </div>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3228.544700913867!2d-72.31584542429886!3d-35.98255527249159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9668a013d75bb88d%3A0x83b10698453f9398!2sCESFAM%20Armando%20Williams!5e0!3m2!1sen!2sus!4v1731108609371!5m2!1sen!2sus"></iframe>
            </div>   
        </section>
    </section>  

    <!-- Informacion -->

    <section class="home">
        <section id="info" class="inicio2">
            <div class="inicio-content2">
                <h1>CESFAM Armando Williams</h1>
                <h3>Centro médico de Cauquenes</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut eos sunt doloremque maxime sit expedita, 
                    provident magnam corrupti, 
                    deleniti fuga recusandae soluta voluptates facere 
                    excepturi illo autem.
                </p>

                <h3>Visión</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut eos sunt doloremque maxime sit expedita, 
                    provident magnam corrupti, 
                    deleniti fuga recusandae soluta voluptates facere 
                    excepturi illo autem.
                </p>
                <h3>Misión</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut eos sunt doloremque maxime sit expedita, 
                    provident magnam corrupti, 
                    deleniti fuga recusandae soluta voluptates facere 
                    excepturi illo autem.
                </p>

                <div class="post-container">
                    <!-- Aquí se insertarán las tarjetas de publicaciones mediante JavaScript -->
                </div>
                
                <script src="../js/scripts.js"></script>
                
            </div>
            <div class="inicio-sci">
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            </div>
        </section>
    </section>



    <!-- HTML -->
    <footer class="footer">
        <div  id='contactos'class="footer-content">

            <div class="footer-section about">
                <h3>Acerca de Nosotros</h3>
                <p>Somos una empresa comprometida con brindar el mejor servicio a nuestros clientes.</p>

                <h3>Infonmacion de contacto</h3>
                <p>Dirección: Calle Ejemplo 123, Ciudad</p>
                <p>Teléfono: +123 456 7890</p>
                <p>Email: contacto@ejemplo.com</p>
            </div>
            <div class="footer-section links">
                <h3>Enlaces</h3>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#ubicacion">Servicios</a></li>
                    <li><a href="#info">Contacto</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-twitter"></i></a>
                    <a href="#"><i class="bx bxl-instagram"></i></a>
                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="legal-info">
            <p>&copy; <span id="year"></span> CESFAM Armando Williams. Todos los derechos reservados.</p>
        </div>

    </footer>
    
    <script>
        // Script para actualizar el año actual automáticamente
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>

    
    </body>
    </html>
    
